@mixin navLinkScale(){
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@mixin getStartedHover($_sec){
  -webkit-animation: shake-vertical $_sec cubic-bezier(0.455, 0.030, 0.515, 0.955) ;
  animation: shake-vertical $_sec cubic-bezier(0.455, 0.030, 0.515, 0.955) ;
}

@mixin transition($_time){
  -webkit-transition: all $_time ease;
  -moz-transition: all $_time ease;
  -o-transition: all $_time ease;
  transition: all $_time ease;
}

/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/**
 * ----------------------------------------
 * animation text-shadow-pop-bottom
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-pop-bottom {
  0% {
    text-shadow: 0 0 $footerTextColor, 0 0 $footerTextColor, 0 0 $footerTextColor, 0 0 $footerTextColor, 0 0 $footerTextColor, 0 0 $footerTextColor, 0 0 $footerTextColor, 0 0 $footerTextColor;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    text-shadow: 0 1px $footerTextColor, 0 2px $footerTextColor, 0 3px $footerTextColor, 0 4px $footerTextColor, 0 5px $footerTextColor, 0 6px $footerTextColor, 0 7px $footerTextColor, 0 8px $footerTextColor;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes text-shadow-pop-bottom {
  0% {
    text-shadow: 0 0 $footerTextColor, 0 0 $footerTextColor, 0 0 $footerTextColor, 0 0 $footerTextColor, 0 0 $footerTextColor, 0 0 $footerTextColor, 0 0 $footerTextColor, 0 0 $footerTextColor;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    text-shadow: 0 1px $footerTextColor, 0 2px $footerTextColor, 0 3px $footerTextColor, 0 4px $footerTextColor, 0 5px $footerTextColor, 0 6px $footerTextColor, 0 7px $footerTextColor, 0 8px $footerTextColor;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
